.footerUl {
  list-style-type: none;
}

.footerUl > li {
  padding-bottom: 9px;
  color: #947b69;
}

.footerUl > li:hover {
  color: #7d6553;
  cursor: pointer;
}

.headingText {
  color: #383532;
}

.divider {
  border-top: 1px solid rgb(215, 188, 172);
  color: #aaa8a5;
}

.social a {
  color: #49443f;
  font-size: 20px;
  text-decoration: none;
}

.social a:hover {
  color: #615a52;
}